In [0]:
import json
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
import joblib

In [8]:
#load the dataset
df = pd.read_csv('https://raw.githubusercontent.com/pplonski/datasets-for-start/master/adult/data.csv', skipinitialspace=True)
x_cols =[c for c in df.columns if c != 'income']

#set input matrix and target columns
X = df[x_cols]
y= df['income']

#show first rows of data

df.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country income
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [0]:
#split the data into training and testing

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3,random_state=1234)

In [10]:
#fill the missing values

train_mode = dict(X_train.mode().iloc[0])
X_train = X_train.fillna(train_mode)
print(train_mode)

{'age': 31.0, 'workclass': 'Private', 'fnlwgt': 121124, 'education': 'HS-grad', 'education-num': 9.0, 'marital-status': 'Married-civ-spouse', 'occupation': 'Prof-specialty', 'relationship': 'Husband', 'race': 'White', 'sex': 'Male', 'capital-gain': 0.0, 'capital-loss': 0.0, 'hours-per-week': 40.0, 'native-country': 'United-States'}

In [0]:
#convert categoricals

encoders={}

for column in ['workclass','education','marital-status','occupation','relationship','race','sex','native-country']:
  categorical_convert = LabelEncoder()
  X_train[column] =categorical_convert.fit_transform(X_train[column])
  encoders[column]=categorical_convert

In [0]:
#train the random forest Algorithm

rf = RandomForestClassifier(n_estimators=100)
rf = rf.fit(X_train,y_train)

In [0]:
#train Extra Trees Classifier

et = ExtraTreesClassifier(n_estimators=100)
et = et.fit(X_train,y_train)

In [18]:
# save preprocessing objects and rf algorithm

joblib.dump(train_mode,'./train_mode.joblib', compress=True)
joblib.dump(encoders,'./encoders.joblib', compress=True)
joblib.dump(rf,'./random_forest.joblib', compress=True)
joblib.dump(et, './extra_tree.joblib', compress=True)

['./extra_tree.joblib']